<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro de Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <img src="https://www.bomberos.cl/contenidos/3313_logo952.jpg">
      </ion-col>
      <ion-col size="12">

        <form>
          <ion-item>
            <h1>Regístrate</h1>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Nombres :</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Apellidos :</ion-label>
            <ion-input type="text" placeholder="apellido apellido"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">TIB :</ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password :</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>


        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" color="primary" type="submit">
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
            Registrarse
          </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
